
/*********** <<<<<< Home Page : Fonctionnements >>>>>>**********/
.function-list-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    & h3{
        padding: 1rem;
    }
}

.function-steps{
    display: flex;
    justify-content: center;
    gap: 2rem;
    @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.function-steps a{
        background-color: #f6f6f6;
        border-radius: 22px;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
        @media (max-width: 850px) {
            width: 100%;
        }
        &:hover{
            background-color: #f5edff;
        }
    }

.function-steps a i{
    color: #7e7e7e;
}
.function-steps a:hover i, a:hover{
        color: #9356dc;
        }

.function-tag{
        position: relative;
        background-color: #9356dc;
        color: #f6f6f6;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        text-align: center;
        line-height: 2rem;
        left:-2rem;
        }

/********* <<<<<< Home page : Restaurant cards >>>>>>**********/
.restaurant-container{
        padding: 2rem;
        background-color: #f6f6f6;
        min-height: 50vh;
        }
        
.restaurant-card-list{
        display: flex;
        padding: 3rem;
        gap: 2rem;
        @media (max-width: 685px){
            flex-direction: column;
          }
        }
        
.restaurant-card-link{
        width: 50%;
        border-radius: 22px;
        text-decoration: none;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
        @media (max-width: 685px){
            width: 100%;
          }
        }
.restaurant-card{
        border-radius: 22px;
        & img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
            border-radius: 22px 22px 0 0;
          }
        }
        
.restaurant-title{
          background-color: white;
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          color: black;
          border-radius: 0 0 22px 22px;
          height: 4rem;
          font-size: 0.8rem;
        }




/**** Other pages : Pestaurants menus ****/
    .restaurant_menu{
        background-color: #f6f6f6;
        width: 100%;
        height: auto;
        border-radius: 50px 50px 0 0;
        position: relative;
        z-index: 1;
        top:-4rem;
        margin-bottom: -4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    & .menu-content-container{
        display: flex;
        gap:1rem;
        padding: 1rem;
        height: auto;
        @media(max-width:1300px){
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        & .menu-content{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: aqua;
            margin: 1rem;
            padding: 2rem;
            @media(max-width:1300px){
                width: 100%;
            }
            & .dishes{
                background-color: antiquewhite;
                padding: 2rem;
                border-radius: 22px;
                width: 20rem;
                height: 5rem;
                @media(max-width:1300px){
                    width: 100%;
                }
        }
        }
    }
}