
/*********** <<<<<< Home Page : Fonctionnements >>>>>>**********/
.function-list-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    & h3{
        padding: 1rem 0;
    }
}

.function-steps{
    display: flex;
    justify-content: center;
    gap: 2rem;
    @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.function-steps a{
        background-color: #f6f6f6;
        border-radius: 22px;
        text-decoration: none;
        color: inherit;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
        @media (max-width: 850px) {
            width: 100%;
        }
        &:hover{
            background-color: #f5edff;
        }
    }

.function-steps a i{
    color: #7e7e7e;
}
.function-steps a:hover i, a:hover{ /*icon and link change color at the same time*/
        color: #9356dc;
        }

.function-tag{
        position: relative;
        background-color: #9356dc;
        color: #f6f6f6;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        text-align: center;
        line-height: 2rem;
        left:-2rem;
        }
       
/*funtion-steps : 2nd try with counter-reset, Numbers do NOT work*/
/*.function-steps{
    padding: 1rem;
    margin: 1rem;
    counter-reset: steps; /*命名
    /*& ol{
        display: flex;
        gap: 1rem;
        justify-content: center;
        @media (max-width: 850px) {
            flex-direction: column;
        }
        & :hover{
            background-color: #f5edff;
        }
    }
    & li{
        /* Does NOT work because of aria-hidden="true" ??
        & i.fas {
            margin-right: 1rem;
            color: aqua;
            font-size: 2rem;
            }*/
            /*& ::before{
                content: counter(steps); /*呼叫命名
                counter-increment: steps;
                /*number style
                position:absolute;
                /* display: block;
                color: #f6f6f6;
                background: #9356dc;
                border-radius: 50%;
                font-size: 1rem;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                top: 21px;
                left: -16px;
                
                }
            position: relative;
            padding-left: 60px;
            list-style-type: none;/*去掉原先ol的数字*/
           /*min-height: 60px; list-style: decimal;*/

        /*& img{
            width: 1.5rem;
            height: 1.5rem;
        }
        
        & .step-container{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
        }
        /*tags style*/
       /* background-color: #f6f6f6;
        text-align:center;
        border-radius: 22px;
        flex-grow: 1;
        padding: 1rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
        margin: 1rem;
    }
}

/*tags : 1st try without animation & numbers
.tag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }
  
  .tag-list {
    display: flex;
    gap: 2rem;
    @media (max-width: 850px) {
          flex-direction: column;
      }
  }
  
  .tag {
    width: 16rem;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
    background-color: #f2f2f2;
  }*/


/********* <<<<<< Home page : Restaurant cards >>>>>>**********/
.restaurant-container{
        padding: 2rem;
        background-color: #f6f6f6;
        min-height: 46vh;
        }
        
.restaurant-card-list{
        display: flex;
        padding: 2rem;
        gap: 2rem;
       @media (max-width: 970px){
            flex-direction: column;
            align-items: center;
        }
        }
        
.restaurant-card-link{
        width: 100%;
        border-radius: 22px;
        text-decoration: none;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
        }
.restaurant-card{
        border-radius: 22px;
        & img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
            border-radius: 22px 22px 0 0;
          }
        }
.restaurant-title{
            background-color: white;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 2rem;
            color: black;
            border-radius: 0 0 22px 22px;
            height: auto;
            }
        


/* How to remove aria-hidden ="true" on icon? */
/*No Linear Gradients, NOT OK:*/
.heart{
    position: relative;
}
.empty-heart, .full-heart {
    position: absolute; /*Two hearts overlapping*/
}
.empty-heart{
    color: black;
    opacity: 1;
}
.empty-heart:hover{
    opacity: 0;
}
.full-heart{
    opacity: 0;
}
.full-heart:hover{
    color: #9356dc;
    opacity: 1;
}


/**** Other pages : Restaurants menus ****/
.page-head{
    & .fa-arrow-left{
        position: absolute;/*The arrow is fixed to the left (箭头固定在左边)*/
        padding: 1rem 1rem;
        left: 2rem;
        font-size: 1.5rem;
        color: black;
    }
}
    .restaurant_menu{
        background-color: #f6f6f6;
        width: 100%;
        height: auto;
        border-radius: 50px 50px 0 0;
        position: relative;
        z-index: 1;
        top:-4rem;
        margin-bottom: -4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    & .restaurant-name{
        & .fa-heart{ /*Heart is fixed to the right*/
            position: absolute;
            right: 2rem;
        }
        & h1{/*Title is fixed to the right*/
            position: absolute;
            left: 2rem;
            font-family: "Shrikhand", cursive;
        }
    }    
    & .menu-content-container{
        display: flex;
        gap:1rem;
        padding: 1rem;
        height: auto;
        width: 100%;
        @media(max-width:980px){
            flex-direction: column;
            align-items: center;
        }
        
        & .menu-content{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 1rem;
            padding: 2rem;
            width: 100%;
        & h3{
             border-bottom: 4px solid #99e2d0;
             border-bottom-width: auto;
             padding-bottom: 4px;
             width: 2.5rem;
        }
        }
    }
    .dishes{    border-radius: 22px;
                height: 5rem;
                background-color: white;
                box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 0 1rem 1rem;
                flex: 1 1 auto;
                gap: 0.5rem;
                animation-duration: 3s;
                animation-name: card-slidein;
                @keyframes card-slidein { 
                     from{
                        transform: translateY(1rem);
                        opacity: 0;
                      }
                      to{
                        transform: translateY(0rem);
                        opacity: 1;
                      }
                }        
    }

    .price{
        padding: 1rem;
    }

    .green-bloc{
          background-color: #99e2d0; 
          color: white; 
          border-radius: 0 22px 22px 0;
          width: 5rem;
          height: 5rem;
          padding: 2rem;
          display: none;
    }
    .dishes:hover{
        cursor: pointer;
        .green-bloc{
            display: inline-block;
            animation-duration: 280ms;
            animation-name: bloc-slidein;
                @keyframes bloc-slidein { 
                     from{
                        transform: translateX(0.3rem);
                        opacity: 0;
                      }
                      to{
                        transform: translateX(0rem);
                        opacity: 1;
                      }
                }
        }
    }

    /*
    .fa-check-circle{
        transform: rotate(0deg);
}
    .dishes:hover{
        .fa-check-circle{
            transform: rotate(-360deg);
            transition: transform 500ms ease-in-out;
    }
    }*/


    & .order-button{
            background-image: linear-gradient(to bottom, #eb73da, #a05adc) ;
            border-radius: 22px;
            padding: 0.8rem 2rem;
            margin: 1rem;
            color: white;
            border: 0px;
            box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
    }
}