@charset "UTF-8";
/*funtion-steps*/
.function-steps {
  padding: 1rem;
  margin: 1rem;
  counter-reset: steps;
  /*命名*/
}

.function-steps ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 850px) {
  .function-steps ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.function-steps ol :hover {
  background-color: #f5edff;
}

.function-steps li {
  /* Does NOT work because of aria-hidden="true" ??
        & i.fas {
            margin-right: 1rem;
            color: aqua;
            font-size: 2rem;
            }*/
  position: relative;
  padding-left: 60px;
  list-style-type: none;
  /*去掉原先ol的数字*/
  /*min-height: 60px; list-style: decimal;*/
  /*tags style*/
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.function-steps li ::before {
  content: counter(steps);
  /*呼叫命名*/
  counter-increment: steps;
  /*number style*/
  position: absolute;
  /* display: block;*/
  color: #f6f6f6;
  background: #9356dc;
  border-radius: 50%;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  top: 21px;
  left: -16px;
  /**/
}

.function-steps li img {
  width: 1.5rem;
  height: 1.5rem;
}

.function-steps li .step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

/*tags
.tag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }
  
  .tag-list {
    display: flex;
    gap: 2rem;
    @media (max-width: 850px) {
          flex-direction: column;
      }
  }
  
  .tag {
    width: 16rem;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
    background-color: #f2f2f2;
  }*/
/*restaurant cards*/
.restaurant-container {
  padding: 2rem;
  background-color: #f6f6f6;
  min-height: 50vh;
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.restaurant-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  gap: 2rem;
}

@media (max-width: 685px) {
  .restaurant-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurant-card-link {
  width: 50%;
  border-radius: 22px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 685px) {
  .restaurant-card-link {
    width: 100%;
  }
}

.restaurant-card {
  border-radius: 22px;
  /*height: 100%;*/
}

.restaurant-card img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.restaurant-title {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  color: black;
  border-radius: 0 0 22px 22px;
  height: 4rem;
  font-size: 0.8rem;
}

/*restaurant menu*/
.restaurant_menu {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  top: -4rem;
  margin-bottom: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.restaurant_menu .menu-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: auto;
}

@media (max-width: 1300px) {
  .restaurant_menu .menu-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurant_menu .menu-content-container .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: aqua;
  margin: 1rem;
  padding: 2rem;
}

@media (max-width: 1300px) {
  .restaurant_menu .menu-content-container .menu-content {
    width: 100%;
  }
}

.restaurant_menu .menu-content-container .dishes {
  background-color: antiquewhite;
  padding: 2rem;
  border-radius: 22px;
  width: 20rem;
  height: 5rem;
}

@media (max-width: 1300px) {
  .restaurant_menu .menu-content-container .dishes {
    width: 100%;
  }
}
/*# sourceMappingURL=body.css.map */