@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border inside the element = final size*/
}

body {
  font-family: "Roboto", sans-serif;
}

/*header*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  padding: 1rem;
  width: 11rem;
}

@media (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  width: 100vw;
}

@media (max-width: 768px) {
  .location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #eaeaea;
    -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }
}

.intro {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1rem;
}

.intro h2 {
  margin: 1rem;
}

.intro button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb73da), to(#a05adc));
  background-image: linear-gradient(to bottom, #eb73da, #a05adc);
  border-radius: 22px;
  padding: 0.8rem 1rem;
  margin: 1rem;
  color: white;
  border: 0px;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.intro button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.8;
}

@media (max-width: 375px) {
  .intro {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Restaurant-image*/
.restaurant-image {
  width: 100%;
  height: 350px;
  z-index: 1;
  overflow: hidden;
}

.restaurant-image img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

/*********** <<<<<< Home Page : Fonctionnements >>>>>>**********/
.function-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.function-list-container h3 {
  padding: 1rem;
}

.function-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media (max-width: 850px) {
  .function-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.function-steps a {
  background-color: #f6f6f6;
  border-radius: 22px;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
  .function-steps a {
    width: 100%;
  }
}

.function-steps a:hover {
  background-color: #f5edff;
}

.function-steps a i {
  color: #7e7e7e;
}

.function-steps a:hover i, a:hover {
  color: #9356dc;
}

.function-tag {
  position: relative;
  background-color: #9356dc;
  color: #f6f6f6;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  left: -2rem;
}

/********* <<<<<< Home page : Restaurant cards >>>>>>**********/
.restaurant-container {
  padding: 2rem;
  background-color: #f6f6f6;
  min-height: 50vh;
}

.restaurant-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  gap: 2rem;
}

@media (max-width: 685px) {
  .restaurant-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurant-card-link {
  width: 50%;
  border-radius: 22px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 685px) {
  .restaurant-card-link {
    width: 100%;
  }
}

.restaurant-card {
  border-radius: 22px;
}

.restaurant-card img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.restaurant-title {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  color: black;
  border-radius: 0 0 22px 22px;
  height: 4rem;
  font-size: 0.8rem;
}

/**** Other pages : Pestaurants menus ****/
.restaurant_menu {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  top: -4rem;
  margin-bottom: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.restaurant_menu .menu-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: auto;
}

@media (max-width: 1300px) {
  .restaurant_menu .menu-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurant_menu .menu-content-container .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: aqua;
  margin: 1rem;
  padding: 2rem;
}

@media (max-width: 1300px) {
  .restaurant_menu .menu-content-container .menu-content {
    width: 100%;
  }
}

.restaurant_menu .menu-content-container .menu-content .dishes {
  background-color: antiquewhite;
  padding: 2rem;
  border-radius: 22px;
  width: 20rem;
  height: 5rem;
}

@media (max-width: 1300px) {
  .restaurant_menu .menu-content-container .menu-content .dishes {
    width: 100%;
  }
}

/*Footer*/
footer {
  background-color: #353535;
  padding: 2rem;
}

@media (max-width: 685px) {
  footer {
    height: auto;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 685px) {
  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.footer-list a {
  color: white;
  text-decoration: none;
}

.footer-logo {
  color: white;
  font-family: "Shrikhand", cursive;
}

.fa-utensils,
.fa-hands-helping {
  padding: 0 0.5rem;
}
/*# sourceMappingURL=style.css.map */