@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border inside the element = final size*/
}

body {
  font-family: "Roboto", sans-serif;
}

/*header*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  padding: 1rem;
  width: 11rem;
}

@media (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  width: 100vw;
}

@media (max-width: 768px) {
  .location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #eaeaea;
    -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }
}

.intro {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1rem;
}

.intro h2 {
  margin: 1rem;
}

.intro button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb73da), to(#a05adc));
  background-image: linear-gradient(to bottom, #eb73da, #a05adc);
  border-radius: 22px;
  padding: 0.8rem 1rem;
  margin: 1rem;
  color: white;
  border: 0px;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.intro button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.8;
}

@media (max-width: 375px) {
  .intro {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Restaurant-image*/
.restaurant-image {
  width: 100%;
  height: 350px;
  z-index: 1;
  overflow: hidden;
}

.restaurant-image img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

/*********** <<<<<< Home Page : Fonctionnements >>>>>>**********/
.function-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.function-list-container h3 {
  padding: 1rem 0;
}

.function-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media (max-width: 850px) {
  .function-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.function-steps a {
  background-color: #f6f6f6;
  border-radius: 22px;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
  .function-steps a {
    width: 100%;
  }
}

.function-steps a:hover {
  background-color: #f5edff;
}

.function-steps a i {
  color: #7e7e7e;
}

.function-steps a:hover i, a:hover {
  /*icon and link change color at the same time*/
  color: #9356dc;
}

.function-tag {
  position: relative;
  background-color: #9356dc;
  color: #f6f6f6;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  left: -2rem;
}

/*funtion-steps : 2nd try with counter-reset, Numbers do NOT work*/
/*.function-steps{
    padding: 1rem;
    margin: 1rem;
    counter-reset: steps; /*命名
    /*& ol{
        display: flex;
        gap: 1rem;
        justify-content: center;
        @media (max-width: 850px) {
            flex-direction: column;
        }
        & :hover{
            background-color: #f5edff;
        }
    }
    & li{
        /* Does NOT work because of aria-hidden="true" ??
        & i.fas {
            margin-right: 1rem;
            color: aqua;
            font-size: 2rem;
            }*/
/*& ::before{
                content: counter(steps); /*呼叫命名
                counter-increment: steps;
                /*number style
                position:absolute;
                /* display: block;
                color: #f6f6f6;
                background: #9356dc;
                border-radius: 50%;
                font-size: 1rem;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                top: 21px;
                left: -16px;
                
                }
            position: relative;
            padding-left: 60px;
            list-style-type: none;/*去掉原先ol的数字*/
/*min-height: 60px; list-style: decimal;*/
/*& img{
            width: 1.5rem;
            height: 1.5rem;
        }
        
        & .step-container{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
        }
        /*tags style*/
/* background-color: #f6f6f6;
        text-align:center;
        border-radius: 22px;
        flex-grow: 1;
        padding: 1rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
        margin: 1rem;
    }
}

/*tags : 1st try without animation & numbers
.tag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }
  
  .tag-list {
    display: flex;
    gap: 2rem;
    @media (max-width: 850px) {
          flex-direction: column;
      }
  }
  
  .tag {
    width: 16rem;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
    background-color: #f2f2f2;
  }*/
/********* <<<<<< Home page : Restaurant cards >>>>>>**********/
.restaurant-container {
  padding: 2rem;
  background-color: #f6f6f6;
  min-height: 46vh;
}

.restaurant-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

@media (max-width: 970px) {
  .restaurant-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurant-card-link {
  width: 100%;
  border-radius: 22px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.restaurant-card {
  border-radius: 22px;
}

.restaurant-card img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.restaurant-title {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 2rem;
  color: black;
  border-radius: 0 0 22px 22px;
  height: auto;
}

.heart {
  position: relative;
}

.empty-heart, .full-heart {
  position: absolute;
  /*Two hearts overlapping*/
}

.empty-heart {
  opacity: 1;
}

.full-heart {
  opacity: 0;
}

.full-heart:hover {
  /*opacity: 1;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: heart-beat 1s;
          animation: heart-beat 1s;
}

/* How to remove aria-hidden ="true" on icon? */
/*.heart{
    position: relative;
}
.empty-heart, .full-heart {
    position: absolute; /*Two hearts overlapping*/
/*}
/*.empty-heart{
    color: black;
    opacity: 1;
}
.empty-heart:hover{
    opacity: 0;
}
.full-heart{
    opacity: 0;
    
}
.full-heart:hover{ 
    color: #9356dc; /*No Linear Gradients*/
/*  opacity: 1;
}

/*reference: https://codepen.io/ismailfarooq/pen/wewNxx
background: linear-gradient(to bottom, #eb73da, #a05adc);
background-clip: text;
-webkit-text-fill-color: transparent;
La propriété background-clip définit la façon dont l'arrière-plan d'un élément (que ce soit l'image ou la couleur) 
s'étend sous la boîte de bordure, la boîte de remplissage (padding) ou la boîte de contenu.

The -webkit-text-fill-color CSS property specifies the fill color of characters of text. 
If this property is not set, the value of the color property is used.*/
/**** Other pages : Restaurants menus ****/
.page-head .fa-arrow-left {
  position: absolute;
  /*The arrow is fixed to the left (箭头固定在左边)*/
  padding: 1rem 1rem;
  left: 2rem;
  font-size: 1.5rem;
  color: black;
}

.restaurant_menu {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  top: -4rem;
  margin-bottom: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.restaurant_menu .restaurant-name .fa-heart {
  /*Heart is fixed to the right*/
  position: absolute;
  right: 2rem;
}

.restaurant_menu .restaurant-name h1 {
  /*Title is fixed to the right*/
  position: absolute;
  left: 2rem;
  font-family: "Shrikhand", cursive;
}

.restaurant_menu .menu-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: auto;
  width: 100%;
}

@media (max-width: 980px) {
  .restaurant_menu .menu-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurant_menu .menu-content-container .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
}

.restaurant_menu .menu-content-container .menu-content h3 {
  border-bottom: 4px solid #99e2d0;
  border-bottom-width: auto;
  padding-bottom: 4px;
  width: 2.5rem;
}

.restaurant_menu .dishes {
  border-radius: 22px;
  height: 5rem;
  background-color: white;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0 1rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 0.5rem;
  -webkit-animation-name: card-slidein;
          animation-name: card-slidein;
}

@-webkit-keyframes card-slidein {
  from {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes card-slidein {
  from {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

.restaurant_menu .dishes.dish-1 {
  -webkit-animation: card-slidein 2s 0s;
          animation: card-slidein 2s 0s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*The animation-fill-mode property indicates how a CSS animation should apply styles 
                to its target before and after execution.
                What is the difference between 'both' and 'forwards'?*/
}

.restaurant_menu .dishes.dish-2 {
  -webkit-animation: card-slidein 2s 250ms;
          animation: card-slidein 2s 250ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-3 {
  -webkit-animation: card-slidein 2s 500ms;
          animation: card-slidein 2s 500ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-4 {
  -webkit-animation: card-slidein 2s 750ms;
          animation: card-slidein 2s 750ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-5 {
  -webkit-animation: card-slidein 2s 1s;
          animation: card-slidein 2s 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-6 {
  -webkit-animation: card-slidein 2s 1250ms;
          animation: card-slidein 2s 1250ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-7 {
  -webkit-animation: card-slidein 2s 1.5s;
          animation: card-slidein 2s 1.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-8 {
  -webkit-animation: card-slidein 2s 1750ms;
          animation: card-slidein 2s 1750ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .dishes.dish-9 {
  -webkit-animation: card-slidein 2s 2000ms;
          animation: card-slidein 2s 2000ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant_menu .price {
  padding: 1rem;
}

.restaurant_menu .green-bloc {
  background-color: #99e2d0;
  color: white;
  border-radius: 0 22px 22px 0;
  width: 5rem;
  height: 5rem;
  padding: 2rem;
  display: none;
}

.restaurant_menu .dishes:hover {
  cursor: pointer;
}

.restaurant_menu .dishes:hover .fa-check-circle {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-name: icon-turn;
          animation-name: icon-turn;
}

@-webkit-keyframes icon-turn {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

@keyframes icon-turn {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

.restaurant_menu .dishes:hover .green-bloc {
  display: inline-block;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-name: bloc-slidein;
          animation-name: bloc-slidein;
}

@-webkit-keyframes bloc-slidein {
  from {
    -webkit-transform: translateX(0.3rem);
            transform: translateX(0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes bloc-slidein {
  from {
    -webkit-transform: translateX(0.3rem);
            transform: translateX(0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    opacity: 1;
  }
}

.restaurant_menu .order-button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb73da), to(#a05adc));
  background-image: linear-gradient(to bottom, #eb73da, #a05adc);
  border-radius: 22px;
  padding: 0.8rem 2rem;
  margin: 1rem;
  color: white;
  border: 0px;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

/*Footer*/
footer {
  background-color: #353535;
  padding: 2rem;
  height: auto;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 750px) {
  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.footer-list a {
  color: white;
  text-decoration: none;
}

.footer-logo {
  color: white;
  font-family: "Shrikhand", cursive;
}

.fa-utensils,
.fa-hands-helping {
  padding: 0 0.5rem;
}
/*# sourceMappingURL=style.css.map */